.swiper-button-next,
.swiper-button-prev {
  color: #facc15; 
  transform: scale(1.2); 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fbbf24;
  
}

.swiper-button-next {
  height: 1vh;
  right: 10px; 
}

.swiper-button-prev {
  height: 1vh;
  left: 10px; 
}
